/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: #F7F7F7;

}
@font-face {
  font-family: "Futura-Bold";
  src: url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.eot");
  src: url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9a1626276b430d216809407c3fbcda75.svg#Futura-Bold")format("svg");
}
.navbar {
  /* margin-top: 1vh; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4.5vh;
  /* margin-left: 1vw;
  margin-right: 2.7vw; */
  align-items: center;
  background-color: #F7F7F7;
 /* border-radius: 25px; */
z-index: 9;
position: relative;
  /* color: white; */
  
}

.logo{
  /* height: 10vh; */
  /* width: 10vw; */
  /* border-radius: 5px; */
  font-size: 2rem;
  font-family: "Futura-Bold";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}


.level {
  height: 3vh;
  margin-left: -5vw;
}
.selection{
  margin-left: -47vw;
}
.label {
  font-size: 1.1rem;
  margin-right: 5vw;
}

.logo {
  width: 30%;
 
  margin-left: 2%;
}

.r {
  font-size: 0.9rem;
  margin-left: 54.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.5vw;
  width: 70%;

}

.cursor {
  height: 150px;
  width: 150px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
  z-index: 19;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.page1 {
  min-height: 100vh;
  width: 95vw;
  position: relative;
  padding-top: 20.4vw;
  padding: 0 1vw;
}

.heading {
  width: 100%;
}

.page1 h1 {
  margin-top: 33vh;
  font-size: 15.2vw;
  text-transform: uppercase;
  /* font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif; */
  font-family: "Futura-Bold" ;
  line-height: 0vw;
  letter-spacing: -8px; 
  
}

.video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

.video-container .play {
  padding: 4vw 2vw;
  background-color: black;
  color: #fff;
  font-size: 2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

.page2 {
  margin-top: -20px;
  min-height: 80vh;
  width: 95vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3vw 1vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.page2 .elem {
  height: 100%;
  width: 30%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page2 .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  scale: 1.1;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.page3 {
  min-height: 120vh;
  width: 100%;
  background-color: #F7F7F7;
  /* display: flex; */
  /* align-items: center;
justify-content: space-evenly; */
  /* flex-wrap: wrap; */

}

.shop-section1 {
  margin-left: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  /* padding-top: 1vh; */
  /* padding-bottom: 40vh; */
  padding-left: 5vw;
  margin-bottom: 40vh;
  gap: 10vw;
}

.shop-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 12vw;
  gap: 10vw;
}

.name {
  margin-bottom: 15vh;
  margin-left: 7vw;
  margin-top: 17vh;
  font-size: 1.3rem;
  color: gray;
  font-family: "poppins", sans-serif;
}

.child {
  position: relative;
  height: 55vh;
  width: 40vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#child3{
  margin-right:10%;
}
#child4{
  margin-right:10%;
}
.child img {
  height: 100%;
  width: 100%;
}

.page4 {
  min-height: 120vh;
  width: 100%;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.headings {

  display: -webkit-box;

  display: -ms-flexbox;
 margin-top: 5vh;
  display: flex;
  margin-bottom: 12vh;
}

.head1 {
  /* font-weight: 500; */
  font-size: 1.7rem;
  width: 70%;
  margin-left: 1vw;
  line-height: 10vh;
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
}

.head2 {
  margin-top: 1vh;
  width: 30%;
  margin-right: 7.5vw;
  font-size: 1rem;
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.head2 a {
  color: #000000;
  padding: 0px 0px 8px;
}

.aftervid {
  font-size: 1.2rem;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 5vh;
}

.aftervid2 {
  font-size: 1.2rem;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 45vh;
}

.left {
  width: 50%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: 16px;
}

.right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-right: 2vw;
}

.line {
  background-color: black;
  height: 0.9px;
  width: 97%;
  margin-left: 10px;
}

.info {
  min-height: 80vh;
  margin-top: 10vh;
  margin-left: 10vw;
  
}


#l1{
  margin-left: 0vw;
  
}
#l2{
  margin-left: -2vw;
}

#l3{
  margin-left: -4vw;
}

.info_lower {
  /* margin-left: 17vw; */
}

button {
  background-color: black;
  border: 2px solid;
  border-radius: 25px;
  margin-top: 3vh;
  margin-left: 37vw;
  color: white;
  height: 50px;
  width: 300px;
  font-size: 15px;

}

.info h1 {
  text-transform: uppercase;
  font-weight: 00;
  line-height: 1;
  margin-left: 50px;
  font-size: 70px;
  font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
}

.info_lower p {
  display: flex;
  justify-content: center;
  /* margin-left: 41vw; */
}

.hh {
  margin-left: 190px;
}

.hh2 {
  margin-left: 90px;
}

.aftervid3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 15vh;
}

.left3 {
  font-size: 2rem;
  width: 80%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: 16px;
  font-weight: 900;
}

.right3 {
  font-size: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-right: 58px;
}

.page5 {
  min-height: 112vh;
}

.left4 {
  line-height: 1.3;
  margin-top: 6vh;
  width: 37%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: 16px;
  list-style: none;
  font-size: 1rem;
}

.left4 p {
  font-size: 1rem;
  color: gray;
}

.center {
  margin-left: 5vw;
  width: 50%;
  height: 600px;
  margin-top:-100px
}

.center img {
  width: 40vw;
  height: 50vh;
  /* -webkit-mask-image: url(./splash.png);
  -webkit-mask-size: contain; */

}

.right4 {
  line-height: 1.3;
  margin-top: 6vh;
  font-size: 1rem;
  list-style: none;
  width: 37%;
  text-align: right;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  margin-left: 2vw;
  margin-right: 5vw;
}

.right4 p {
  font-size: 0.9rem;
  color: gray;
}

.aftervid4 {
  font-size: 1.2rem;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 13vh;
}

.copyrights {
  margin-top: -25vh;
  font-size: 0.9rem;
  height:100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3vw;
  color: gray;
}

.page6 {
  margin-left: 15vw;
  width: 80%;
  height: 30vh;
  margin-top: -15vh;
background-color: #000000;
}

.page6 h2 {
  color: grey;
  text-align: center;
  margin-right: 11vw;
}

.appreciation {
  font-size: 1rem;
  line-height: 1.5;
}

.vid{
  margin-top: 11vh;
  margin-left: 1.6vw;
  margin-right: 2vw;
}
span {
  margin-left: 00px;
}

@media (max-width:600px) {

  .navbar {
    margin-top: -12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    min-height: 4vh;
    /* margin-left: 5vw; */
    
  }

  .selection {
    margin-left: 27vw;
  }

  .label {
    margin-right: 5vw;
  }

  .page1 h1 {
    font-size: 15.4vw;
    letter-spacing: -3px;
    line-height: 4vw;
  }

  .r {
    display: none;
  }

  .page1 {
    min-height: 40vh;
    width: 95vw;
    position: relative;
    padding-top: 24.4vh;
    padding: 0 3vw;
  }

  .video-container {
    height: 25vh;
    margin-top: 3vw;
  }

  .video-container .play {
    padding: 7.5vw 5vw;
    font-size: 5vw;
    position: absolute;
    top: 32%;
    left: 38%;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    -webkit-transform: translate(-50, -50);
    -ms-transform: translate(-50, -50);
    transform: translate(-50, -50);
  }

  .page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5vw 2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .page2 .elem {
    height: 100vh;
    width: 100%;
    margin-bottom: 3vw;
    margin-top: 1vw;
    overflow: hidden;
  }

  .headings {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 200px;
  }

  .head1 {
    /* font-weight: 500; */
    font-size: 1.7rem;
    width: 100%;
    margin-left: 10px;
    line-height: 12vw;
    text-align: center;
    font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
  }

  .head2 {
    margin-top: 10px;
    width: 100%;
    /* margin-right: 75px; */
    font-size: 1rem;
    font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  .head2 a {
    color: #000000;
    padding: 0px 0px 8px;
  }

  .shop-section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -30vh;
    margin-left: 60vw;
  }

  .shop-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: -45vh;
    margin-left: 60vw;
    padding-top: 2vh;
  }

  .shop-section2 #child3 {
    margin-left: -50vw;
  }

  .child {
    margin-left: -40vw;
    margin-top: 200px;
    /* object-fit: cover; */
    position: relative;
    height: 55vh;
    width: 40vw;
    padding-top: 30px;
    /* display: flex; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #child3 {
    margin-left: -40.5vw;
    margin-top: 30vh;
  }
  #child4 {
    margin-top: 55vw;
   
  }
 
 

  .child img {
    height: 100%;
    width: 100%;
  }

  /* #child3 .name {
    /* margin-left: 15vw; }*/
  

  /* .shop-section2 #child3 .name {
    margin-left: 1vw;
  } */

  .name {
    font-size: 3rem;
    margin-bottom: 100px;
    /* margin-left: 0vw; */
    margin-top: 0px; 
    font-family: "Helvetica Now Text";
  }

  .info {
    min-height: 30vh;
    /* /* margin-top: 100px; */
    margin-left: -07vw;
    font-size: 0.5rem;
  }

  .hh {
    margin-left: 20vw;
  }

  .hh2 {
    margin-left: 10vw;
  }

  #l1 {
    margin-left: 4vw;
  }

  .info_lower {
    margin-left: 4vw;
    display: flex;
    align-items: center;
  }

  button {
    background-color: black;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 30px;
    
    color: white;
    height: 50px;
    width: 300px;
    font-size: 15px;
  }

  .info h1 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 00;
    /* line-height: 1; */
    /* margin-left: 50px; */
    font-size: 6vw;
    font-family: "Futura Now Headline", "Lucida Sans", Tahoma, sans-serif;
  }

  .info_lower p {
    margin-left: 30px;
    font-size: 1.3rem;
  }

  .page5 {
    /* margin-top: -350px; */
    min-height: 120vh;
  }

  .center {
    margin-left: 09vw;
    width: 100%;
  }

  .center img {
    width: 100%;
    height: 400px;
  }

  .left3 {
    font-size: 1.6rem;
    width: 97%;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-left: 16px;
    font-weight: 900;
  }

  .right3 {
    font-size: 1.5rem;
    padding-top: 5vh;
    width: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    margin-right: 1vw;
  }

  .copyrights {
    margin-top: -0.3vh;
    font-size: 0.7rem;
  }

  .page6 {
    margin-left: 5vw;
    width: 90%;
    height: 330px;
    margin-top: -59vh;
  }

  .page6 h2 {
    font-size: 1rem;
    color: grey;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .appreciation {
    /* height:400px; */
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  span {
    margin-left: 00px;
  }

  }